@page
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Pedido</title>
    <link rel="stylesheet" href="/css/estilos-criarpedido.css" />
</head>

<body>
    <header>
        <h1>Empresa R.G.J</h1>
        <img src="/images/logotipo.png" alt="logotipo">
    </header>

    <section>
        <h2>Realizar Pedido</h2>
        <form method="post">
            <label for="tipoServico">Tipo de Serviço:</label>
            <input type="text" id="tipoServico" name="tipoServico" required>

            <label for="detalhes">Detalhes do Serviço:</label>
            <textarea id="detalhes" name="detalhes" required></textarea>

            <label for="arquitetoDesigner">Arquiteto/Designer:</label>
            <input type="text" id="arquitetoDesigner" name="arquitetoDesigner" required>

            <label for="data">Data do Serviço:</label>
            <input type="date" id="data" name="data" required>

            <button type="submit">Enviar Pedido</button>
        </form>
    </section>

    <div class="footer">
        <a href="VerPedido">
            <span>Ver Pedidos</span>
        </a>
        <a href="index.html">
            <img src="/images/login.png" alt="Ícone de Login/Registar">
            <span>Login/Registar</span>
        </a>
    </div>
</body>

</html>