@page
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" href="/css/estilos-verpedido.css" /> <!-- Adicione essa linha para carregar o CSS -->
</head>

<body>
    <header>
        <h1>Pedidos</h1>
        <img src="/images/logotipo.png" alt="Imagem_Logotipo">
    </header>

    <section>
        <div class="pedido">
            <div>
                <h3>Tipo de Serviço: Arquiteto</h3>
                <p>Detalhes: Projeto de remodelação para a sala de estar.</p>
                <p>Arquiteto: João Silva</p>
                <p>Data do Serviço: 2023-12-01</p>
            </div>
            <div class="status">Pendente</div>
        </div>

        <div class="pedido">
            <div>
                <h3>Tipo de Serviço: Design </h3>
                <p>Detalhes: Decoração para a sala de estar.</p>
                <p>Designer: Maria Oliveira</p>
                <p>Data do Serviço: 2023-12-20</p>
            </div>
            <div class="status">Aceite/Alugado</div>
        </div>
    </section>

    <div class="footer">
        <a href="index.html">
            <span>Voltar para o Início</span>
        </a>
    </div>
</body>

</html>