@page
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="stylesheet" href="/css/estilos-index.css" />
</head>

<body>
    <div class="container">
        <h1>Bem-vindo à Empresa R.G.J</h1>
        <div class="buttons">
            <a href="CriarPedido" class="button">Entrar como Cliente</a>
            <a href="PublicarServico" class="button">Entrar como Trabalhador</a>
        </div>
    </div>
</body>

</html>
