@page

<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar Serviço</title>
    <link rel="stylesheet" href="/css/estilos-pubserv.css" /> <!-- Adicione essa linha para carregar o CSS -->

</head>

<body>
    <header>
        <h1>Empresa R.G.J</h1>
        <img src="/images/logotipo.png" alt="Imagem_Logotipo">
    </header>

    <section>
        <h2>Publicar Serviço</h2>
        <form method="post">
            <!-- Tipo de Serviço -->
            <label for="tipoServico">Tipo de Serviço que pretende disponibilizar:</label>
            <select id="tipoServico" name="tipoServico">
                <option value="Tipo1">Tipo1</option>
                <option value="Tipo2">Tipo2</option>
                <option value="Tipo3">Tipo3</option>
                <option value="Tipo4">Tipo4</option>
            </select>

            <!-- Descrição do Serviço -->
            <label for="descricaoServico">Descrição do Serviço:</label>
            <textarea id="descricaoServico" name="descricaoServico" rows="4" required></textarea>

            <!-- Preço do Serviço -->
            <label for="precoServico">Preço do Serviço:</label>
            <input type="number" id="precoServico" name="precoServico" required min="0">

            <label for="negociavel">Preço Negociável:</label>
            <select id="negociavel" name="negociavel">
                <option value="sim">Sim</option>
                <option value="nao">Não</option>
            </select>

            <button type="submit">Enviar Serviço</button>
        </form>
    </section>

    <div class="footer">
        <a href="VerPortefoliotTrabalhador">
            <span>Ver seus Serviços</span>
        </a>
        <a href="loginTrabalhador">
            <img src="/images/login.png" alt="Ícone de Login/Registar">
            <span>Login/Registar</span>
        </a>
    </div>
</body>

</html>
</html>

